:root {
   --accent-background-dark:#2F303A;
   --accent-color-text:#757575;
   --accent-color-header: #212121;
   --blue-color:#2196F3;
}

.list {
    list-style: none;
    display: flex;
}

.link {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
/*address {
    font-style: normal;
}*/
button {
    cursor: pointer;
}

body {
font-family: 'Roboto', sans-serif;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*================COMPONENTS===============*/

/*================/COMPONENTS==============*/

/*================HEADER===============*/
.page-heder-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header {

}

.pege-nav {
display: flex;
align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logodark {
    color: #000;
}
.menu {
display: flex;

}

.menu-item:not(:last-child) {
margin-right: 50px;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--accent-color-header);

}
.menu-link:hover,
.menu-link:focus {
    color: var(--blue-color);
}

.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--accent-color-text);
    }
.contact-phone-number:hover,
.contact-phone-number:focus {
    color:var(--blue-color);
}

.contact-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--accent-color-text);
    margin-left: auto;
    margin-right: 50px;
}

.contact-email:hover,
.contact-email:focus {
    color: var(--blue-color);
}
/*================/HEADER===============*/

/*==============HERO=======================*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
background: var(--accent-background-dark);
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-btn {
    font-family: 'Roboto', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
/*==============/HERO=======================*/

/*===============DESCRIPTION==========*/
.section-description {
padding-top: 94px;
padding-bottom: 94px;
}

.text-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--accent-color-text);
}

.title-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--accent-color-header);
}
/*===============/DESCRIPTION==========*/

/*================WORKING=============*/
.section-working {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*================/WORKING=============*/

/*===========COLLECTIVE===============*/
.collective-section {
    padding-top: 186px;
    padding-bottom: 94px;
    background: #F5F4FA;

}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--accent-color-header);
}

.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--accent-color-text);
}

.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--accent-color-header);
}
/*===========/COLLECTIVE===============*/

/*==============GALLERY================*/
.gallery-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color-header);
}
 .gallery-btn {
    font-family: 'Roboto', sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color-header);
    background: #F5F4FA;   

 }
 .gallery-btn:hover,
 .gallery-btn:focus {
    color: #FFFFFF;
    background: var(--blue-color);
 }

 .project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--accent-color-header);
 }

.form-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--accent-color-text);
}


/*==============/GALLERY================*/

/*================FOOTER========*/
.logolight {
    color: #FFFFFF;
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #000;
    /*color: #FFFFFF;*/
}

.connection {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #000;
    /*color: rgba(255, 255, 255, 0.6);*/
}
.link-footer {

}
/*=================/FOOTER========*/

